<div class="mb-3 text-center">
    <%if(success && success.length){%>
      <p><%=success%></p>
    <%}%>
  </div>
  <div class="mb-3 text-center">
    <%if(error && error.length){%>
      <p><%=error%></p>
    <%}%>
</div>