:root {
  --twitter-ka-color: #0099ff;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--twitter-ka-color);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  border-radius: 50%;
}

.main-container {
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

.postContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid rgb(230, 236, 240);
  flex-shrink: 0;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

textarea:focus {
  outline: none;
}

#submitPostButton {
  background-color: var(--twitter-ka-color);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}
