<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #cddafd;height: 4.8rem;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/blogs" style="font-weight: 900;margin-left: 50px;font-size: 1.9rem;">Medium</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          </li>
        </ul>
        <div class="navbar-nav ml-auto">
            <a class="nav-link active" href="">Our Story</a>
            <a class="nav-link active" href="">Membership</a>
            <a class="nav-link active" href="/blogs/new">Write</a>
            <a class="nav-link active" href="">Sign In</a>
            <button class="btn btn-dark" style="border-radius:20px;">Get Started</button>
        </div>
      </div>
    </div>
  </nav>