<nav class="col-2">
  <a href="/"><i class="fab fa-twitter"></i></a>
  <a href="/"><i class="fas fa-home"></i></a>
  <a href="#"><i class="fas fa-search"></i></a>
  <a href="#"><i class="far fa-bell"></i></a>
  <a href="/messages"><i class="far fa-envelope"></i></a>
  <a href="/profile"><i class="far fa-user"></i></a>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
</nav>
