:root {
  --blue: #1fa2f1;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0, 0, 0, 0.34);
}

nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

.main-content-container {
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

.postContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 10px solid rgb(230, 236, 240);
  flex-shrink: 0;
}

.userImageContainer {
  width: 50px;
  height: 50px;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}

#submitPostButton {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}
.textareaContainer textarea:focus {
  outline: none;
}

#submitPostButton {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.username,
.date {
  color: var(--greyText);
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
}

.postFooter .postButtonContainer button {
  padding: 2px 5px;
}

.header a:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}

/* .postButtonContainer button {
  border: none;
  background-color: white;
}

.postButtonContainer button:hover {
  background-color: #d4edff;
  color: var(--blue);
  border-radius: 50%;
  border: none;
  text-shadow: 1px 1px 1px var(--blue), -1px 1px 1px var(--blue);
} */
