<%- include("partials/header") %>
<link rel="stylesheet" href="/css/main.css">
<script src="/socket.io/socket.io.js"></script>

</head>
<body>

    <div class="container">
        <div class="row">
            
            <%- include("./partials/navbar") %>

            <script>
                var currentUser = '<%=user.username %>'
            </script>
            
            <div class="main-content-container col-10 col-md-8 col-lg-6">
                <h1 class="fw-bold titleContainer">Inbox</h1>

                <div class="textareaContainer">
                        
                    <textarea  id="msg-text" name="" id="" cols="30" rows="3" placeholder="What's happening?"></textarea>
                    <button id="send-msg-btn" type="submit">Send</button>
              
            
            
            </div>

            <ul id="all-msg-container">
                
            </ul>
               
            </div>
            <div class="d-none d-md-block col-md-2 col-lg-4">Third Column</div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/jQuery.js"></script>
<script src="/js/chat.js"></script>
<%- include("partials/footer") %>