*{
    margin:0;
    padding: 0;
}

footer{
    background-color: #0077b6;
    width: 100%;
}


.footer hr{
    display: none;
}

.footer{
   
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
   
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    color:rgba(255,255,255,0.7)
}

.footer ul{

    list-style: none;
}

.footer h6{
    color:rgba(255,255,255,0.5);
    text-align: center;
}

@media screen and (max-width:500px){
    .footer{
        flex-direction: column;
    }
    .footer h6{
        text-align: left;
    }

    .footer hr{
        display: block;
        color :white;
    }
}

.terms p{
    color:white;
    text-align: center;
    margin: 0;
}

