@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.navbar{
    background-color: #0077b6;
}
.nav-link{
    text-decoration: none;
    margin-top: 2px;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar-brand{
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.06em;
}

.nav-link a{
    color: white;
}

.heading svg{
    margin-top: -14px;
    margin-right: 7px;
    font-size: 3.9rem;
}

@media screen and (max-width:500px){
    
    .heading{
        width: 87vw;
    }

    .heading svg{
       
        font-size: 3.1rem;
    }
}
