<%- include("./partials/header")%>

<form action="/blogs" method="POST">

    <input type="text" name="title" placeholder="title">
    <br>
    <br>
    <input type="text" name="img" id="" placeholder="Image">
    <br>
    <br>
    <textarea name="body" id="" cols="30" rows="5"></textarea>
    <br>
    <button>Submit</button>
</form>







<%- include("./partials/footer")%>