<%- include("partials/header") %>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container">
        <div class="row">
            
            <%- include("./partials/navbar") %>
            
            <div class="main-content-container col-10 col-md-8 col-lg-6">
                <h1 class="fw-bold titleContainer">Home</h1>
                <!-- --------- -->
                
                <%- include("./partials/modal") %>
                <!-- ----- -->

                <div class="mb-3 postContainer">
                    <div class="userImageContainer">
                        <img src="/images/profilePic.jpeg" alt="User Profile">
                    </div>
                    
                    <div class="textareaContainer">
                        
                            <textarea id="post-text" name="" id="" cols="30" rows="3" placeholder="What's happening?"></textarea>
                            <button id="submitPostButton" type="submit">Post</button>
                      
                    </div>

                   
                </div>
                <div>
                    <div class="postsContainer"></div>
                </div>
                
            </div>
            <div class="d-none d-md-block col-md-2 col-lg-4">Third Column</div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/jQuery.js"></script>
<script src="/js/common.js"></script>
<%- include("partials/footer") %>