.heading{   
    width: 98%;
    background-color: #e9ecef;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 3.0rem;
    font-weight: 400;
    color:#355070;
      
}